AUTH_SECRET=
AUTH_URL=https://aeonops.com
AUTH_TRUST_HOST=true
NEXTAUTH_URL=https://aeonops.com
NEXT_PUBLIC_APP_URL=https://aeonops.com

ZITADEL_CLIENT_ID=
ZITADEL_CLIENT_SECRET=
ZITADEL_ISSUER=
ZITADEL_WELLKNOWN=

GOOGLE_APPLICATION_CREDENTIALS=/home/vertex-496419-e493a9fd16b9.json
GOOGLE_VERTEX_PROJECT=vertex-496419
GOOGLE_VERTEX_LOCATION=us-central1
VERTEX_MODEL=gemini-1.5-pro

POSTGRES_URL=postgresql://postgres:PASSWORD@127.0.0.1:5432/postgres

ENABLE_REDIS=false
REDIS_URL=
